body {
	text-align: center;
	background: LightYellow;
}
nav {
	text-align: left;
	background: LightBlue;
	font-family: Copperplate;
	font-size: 20px
}
section
{
	background: Coral;
}
h1, h2, h3, h4
{
	background: Gold;
	font-family: Lucida Handwriting;
	color: Indigo;
}
footer
{
	background: LightSkyBlue;
	font-family: Lucida Handwriting;
	font-size: 30px
}

.parrafo{
	color: Indigo;
}

.disney{
	color: OrangeRed;
	font-family: Arial;
	font-size: 16px
}